{% extends "layout.njk" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style-about.css">
    <link rel="stylesheet" href="/responsive.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
{% endblock %}

{% block content %}
        <div id="wrapper">

            <div id="logo-and-name">
                <img src="/icon-rocketseat.jpg" alt="home_img">
            </div>

            <div id="techs">

                <h3>Technologies</h3>
                
                <div id="tech-icons">
                        
                        <div class="tech-icon">

                            <img src="/icon-javascript.svg" alt="javascript">
                            
                            <div class="tech-name">
                                JavaScript
                            </div>

                        </div>
                        
                        <div class="tech-icon">

                            <img src="/icon-nodejs.svg" alt="nodejs">

                            <div class="tech-name">
                                NodeJS
                            </div>

                        </div>
                        
                        <div class="tech-icon">

                            <img src="/icon-reactjs.svg" alt="reactjs">

                            <div class="tech-name">
                                React
                            </div>

                        </div>
                        
                        <div class="tech-icon">

                            <img src="/icon-react-native.svg" alt="react native">

                            <div class="tech-name">
                                React Native
                            </div>

                        </div>

                        <div class="tech-icon">

                            <img src="\icon-SQL.svg" alt="SQL">
                        
                            <div class="tech-name">
                                SQL
                            </div>
                            
                        </div>
                        
                </div>

            </div>

            <div id="about-rocketseat">

                <p>
                    In a world full a programming languages, many of us feel lost without 
                    knowing what we should study and losing many hours studing old-fashioned 
                    random ones that won't help us to reach our goals or to be prepared to 
                    challenges ahead.
                </p>
                
                <p>
                    We want to help you to skip this part and go straight to the point. After 
                    many market, educational plataforms, and programming languages researches, 
                    we developed Rocketseat.
                </p>
                
                <div id="list-about-rocketseat">
                    <ul>Rocketseat is an amazing and complete community with:
                        <li>an educational technology plataform with the best bootcamps;</li>
                        <li>an open community for networking and sharing experience;</li>
                        <li>an Youtube channel with a lot of free material about different subjects;</li>
                        <li>an social medias (Twitter and Instagram) to provide fast tips to improve your productivity;</li>
                    </ul>
                    </div>

                <p>
                    Everything was desgined to help you to become the developer everybody is looking for. Doesn't matter if you have been programming for sometime or just starting, we have the right path to guide you to the next level.
                </p>
                
                <p>That's why you are always welcome to be with us on Youtube, Instagram, Twitter, in our open community in Discord and following the Rocketseat in every channel.</p>

                <p>Let's code!</p>

            </div>
        </div>
{% endblock %}
