{% extends "layout.njk" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contents</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
        
        <section class="cards">

            <div class="card" id="starter">
                
                <div class="card__image-container">
                    <img src="/icon-Starter.svg" alt="starter">
                </div>

                <div class="card__content">
                    <p>Begginers</p>
                </div>

                <div class="card__info">
                    <p>20 Classes</p>
                    <p class="card__price">FREE</p>
                </div>

            </div>

            <div class="card" id="launchbase">
                <div class="card__image-container">
                    <img src="/icon-LaunchBase.svg" alt="launchbase">
                </div>

                <div class="card__content">
                    <p>Intermediate</p>
                </div>

                <div class="card__info">
                    <p>35 Classes</p>
                    <p class="card__price">FREE</p>
                </div>

            </div>

            <div class="card" id="gostack">
                <div class="card__image-container">
                    <img src="/icon-GoStack.svg" alt="Go stack">
                </div>
                <div class="card__content">
                    <p>Advanced</p>
                </div>
                <div class="card__info">
                    <p>60 Classes</p>
                    <p class="card__price">FREE</p>
                </div>
            </div>

        </section>

        <div class="modal-overlay">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>
                <a class="maximize-modal">
                    <span class="material-icons">maximize</span>
                </a>

                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>

        <script src="scripts.js"></script>

{% endblock %}
